<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>M12-CUPOFTEA</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/product.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
</head>

<body>
    <header>
        <img src="../assets/img/ribbon.svg" id="ribbon" alt="">
        <h1>Livraison offerte a partir de 65$ d'achat</h1>
        <div id="panier">
            <div id="shop-logo-border">
                <div id="shop-logo">
                    <i class="fas fa-shopping-cart"></i>
                </div>
            </div> 42,00$
        </div>
        <div id="top-container">
            <div id="top">
                <img src="../assets/img/logo.png" alt="Logo">
                <div id="panier2">
                    Mon panier
                    <div id="shop-logo-border">
                        <div id="shop-logo">
                            <i class="fas fa-shopping-cart"></i>
                        </div>
                    </div><span>  42,00$</span>
                </div>
            </div>
            <nav>
                <a href="../views/listing.html">THES</a>
                <a href="#">GRAND CRUS</a>
                <a href="#">ACCESOIRES</a>
                <a href="#">EPICERIE</a>
                <a href="../views/about.html">NOTRE HISTOIRE</a>
            </nav>
        </div>
    </header>
    <main>
        <section id="product">
            <section id="top1">
                <article>
                    <h3>Blue of London</h3>
                    <h3>The noir a la bergamote</h3>
                    <h4>Ref: 133742</h4>
                </article>
                <article>
                    <img src="../assets/img/stars.png" alt="">
                    <h3>Voir les 56 avis clients</h3>
                </article>
            </section>
            <section id="mid">
                <article>
                    <img src="../assets/img/product/product3_big.jpg" alt="">
                </article>
                <aside>
                    <div class="dropdown">
                        <button class="dropbtn">Pochette de 100gr <i class="fas fa-arrow-down"></i></button>
                        <div class="dropdown-content">
                            <a href="#">Pochette de 100gr</a>
                            <a href="#">Pochette de 200gr</a>
                            <a href="#">Pochette de 300gr</a>
                        </div>
                    </div>

                    <p id="price">9,00$</p>
                    <a href="#" class="button">AJOUTER AU PANIER</a>
                    <p><i class="fas fa-heart"></i> ajouter à ma liste d'envie</p>
                </aside>
            </section>
            <section id="bottom">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus dolores libero aliquid voluptatem illum, tenetur commodi ratione, in quasi vero sequi veniam quos vel iure ipsum deserunt obcaecati, deleniti assumenda!</p>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima repudiandae autem odio quo rem soluta magnam in? Expedita molestias est facilis cumque, accusamus necessitatibus provident quae ratione blanditiis. Eum, quibusdam. Lorem
                    ipsum dolor sit amet consectetur adipisicing elit. Nostrum nisi, qui nihil officia totam minima delectus, eaque, soluta minus odit ut architecto dolores ullam pariatur saepe? Id fugiat reiciendis architecto.</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. </p>
                <p>Lorem ipsum dolor sit, amet sit, amet consectetur adipisicing elit.</p>
            </section>
        </section>
    </main>
    <footer>
        <section id="info">
            <div class="img-tile">
                <i class="fas fa-lock"></i>
                <h6>PAIMENT SECURISE</h6>
            </div>
            <div class="img-tile">
                <i class="fas fa-truck"></i>
                <h6>LIVRAISON OFFERTE</h6>
            </div>
            <div class="img-tile">
                <i class="far fa-money-bill-alt"></i>
                <h6>CARTE DE FIDELITE</h6>
            </div>
            <div class="img-tile">
                <i class="fas fa-phone"></i>
                <h6>SERVICE CLIENT</h6>
            </div>
            <div class="img-tile">
                <i class="fas fa-check-circle"></i>
                <h6>GARANTIE QUALITE</h6>
            </div>
        </section>
        <section id="navs">
            <nav>
                <h1>CUP OF TEA</h1>
                <a href="#">Notre histoire</a>
                <a href="#">Nos boutiques</a>
                <a href="#">Le The de A a Z</a>
                <a href="#">Espace client professionels</a>
                <a href="#">Recrutement</a>
                <a href="#">Contacter-nous !</a>
                <a href="#">L'Ecole du The</a>
            </nav>
            <nav>
                <h1>COMMANDEZ EN LIGNE</h1>
                <a href="#">Premiere visite</a>
                <a href="#">Aide - FAQ</a>
                <a href="#">Service client</a>
                <a href="#">Suivre ma commande</a>
                <a href="#">Condition generales de vente</a>
                <a href="#">Information legales</a>
            </nav>
            <nav>
                <h1>SUIVEZ-NOUS !</h1>
                <a href="#">Notre histoire</a>
                <a href="">Nos boutiques</a>
                <a href="">Le The de A a Z</a>
                <a href="">Espace clients professionnels</a>
            </nav>
        </section>
        <section id="end">
            <img src="https://3wa.ma/wp-content/uploads/2021/07/3WA_Bonne-taille-5.png" alt="LOGO 3WA">
            <p>Cet exercice de <a href="#">3W ACADEMY</a> est mis a disposition <a href="#">pour l'usage des etudiant, Pas de Rediffusion - Attribution - Pas d'utilisation Commerciale - Pas de Modification - International</a> Les autorisation au-dela du
                champ de cette license peuvent etre obtenues aupres de <a href="mailto: contact@3wa.fr">contact@3wa.fr</a>. Les maquettes on ete realisees par <a href="3wa.ma">Justine Muller</a>.</p>
        </section>

    </footer>
</body>

</html>