<html>

<head>
    <link type="text/css" rel="stylesheet" href="layout.css" />
    <title>simple layout without flex</title>
</head>

<body>
    <header>
        <div id="header">
            HEADER
        </div>
        <div id="menu">
            MENU
        </div>

        <div id="section">
            <div class="sub_section">POSTE 1</div>
            <div class="sub_section">POSTE 2</div>
            <div class="sub_section">POSTE 3</div>
            <img src="/3wa/folder/image.jpeg" alt="Girl in a jacket" width="500" height="600">
        </div>

        <div id="sidebar">
            SIDEBAR
        </div>

        <div id="footer">
            FOOTER
        </div>
    </header>
</body>

</html>